<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='index_css.css')}}">
</head>
<body>
	<div>
    	<p><a href="{{ url_for('camera.index') }}" class="button four">Real time edge detection</a></p>
    </div>

    <div>
    	<p><a href="{{ url_for('upload.upload_form') }}" class="button four">Image edge detection</a></p>
    </div>
	
	<div>
		<p><a href="https://en.wikipedia.org/wiki/Canny_edge_detector" class="button four">Check more about canny edge detection</a></p>
		<p><a href="https://en.wikipedia.org/wiki/Sobel_operator" class="button four">Check more about Sobel detection</a></p>
	</div>
</body>
</html>