<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='index_css.css')}}">
</head>
<body>
	<div>
    	<p><a href="{{ url_for('camera.index') }}" class="effect-1">Try Real Time Edge Detection</a></p>
    </div>

    <div>
    	<p><a href="{{ url_for('upload.upload_form') }}" class="effect-1">Try Image Edge Detection</a></p>
    </div>
	
	<div>
		<p><a href="https://en.wikipedia.org/wiki/Canny_edge_detector" class="effect-1">Check more about canny edge detection</a></p>
		<p><a href="https://en.wikipedia.org/wiki/Sobel_operator" class="effect-1">Check more about Sobel detection</a></p>
	</div>

	<img src = '../static/sample_sobel.png'>
</body>
</html>