<!doctype html>
<title>Python Flask Upload Multiple Images and Display them</title>
<h2>Select multiple images to upload and display</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form method="post" action="/upload/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
			<select name="filters" id="filters" onchange = "format_onchange()">
				<option selected="selected" value="NONE">NONE</option>
                <option value="CANNY">CANNY</option>
                <option value="SOBEL_GRAY">SOBEL_GRAY</option>
                <option value="SOBEL_RGB">SOBEL_RGB</option>
            </select>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

{% if filenames %}
	{% for filename in filenames %}
		<div>
			<img class = "image_gallary" src = "{{ url_for('upload.image', filename = filename, filter_index = 0) }}">			
		</div>
	{% endfor %}
{% endif %}

<script>
	function format_onchange(){
		var x = document.getElementsByClassName("image_gallary");
		var e = document.getElementById("filters").value;
		var i = 0;
		if (e == "NONE") {
			i = 0;
		}
		else if (e == "CANNY") {
			i = 3;
		}
		else if (e == "SOBEL_GRAY") {
			i = 1;
		}
		else if (e == "SOBEL_RGB") {
			i = 2;
		}

		for (ele of x){
			format_link(ele, i)
		}

	}
	function format_link(frame, index){
	    len = frame.src.length - 1 
	    frame.src = frame.src.substring(0, len) + index
	}
</script>